certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
docutils==0.16
idna==2.9
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
matplotlib==3.2.1
mpmath==1.1.0
nose==1.3.7
numpy==1.18.2
pandas==1.0.3
pkg-resources==0.0.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scipy==1.4.1
six==1.14.0
sympy==1.5.1
urllib3==1.25.8
