{% extends 'base_sami.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block titulo_block %}
SIMULADOR A NIVEL DE SISTEMA
{% endblock %}

{% block content %}

<div class="row page-titles mx-0">
    <p class="mb-0">Use la combinacion de teclas <strong>Alt+flecha izquierda</strong> para modificar los formularios anteriores. Presione <strong>terminar </strong>  para empezar a simular.</p>
</div>


<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Parámetros de Asignación</h4>
            </div>
            <div class="card-body">

                <div class="progress">
                    <div class="progress-bar progress-bar-primary w-100" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

                <hr>
                <div>

                    <form action="" method="post">
                        {% csrf_token %}



                        <section>
                            <div class="row">




                                

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ form_data.tipo_asignacion|as_crispy_field }}
                                        </div>
                                    </div>
                                
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Ancho de Banda Usuario [Mhz]</label>
                                        -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="100" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.bw|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Numerología [u]</label>
                                        -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="1" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.numerologia|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Banda de Guarda [Khz]</label>
                                        -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="845" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.banda_guarda|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Suportadora [u]</label>
                                        -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="12" type="number" name="input2"
                                                id="input2" placeholder="">
                                                -->
                                                {{ form_data.subportadora|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Trama Total [u]</label>
                                    -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="12" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.trama|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Símbolos OFDM [u]</label>
                                    -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="10" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.simbolos|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Frame</label>
                                    -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="10" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.frame|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Futuro</label>
                                    -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="0" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.futuro1|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <!--
                                        <label class="text-label">Futuro</label>
                                    -->
                                        <div class="form-group">
                                            <!--
                                            <input class="form-control" value="0" type="number" name="input2"
                                                id="input2" placeholder="">
                                            -->
                                            {{ form_data.futuro2|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>







                            </div>
                        </section>





                        <input type="submit" class="btn btn-primary" value="terminar" />
                        <a class="btn btn-warning" href="{% url 'simapp:sim_form_a1' %}">reiniciar</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}