{% extends 'base_sami.html' %}
{% load static %}
<!--
CARGANDO SIMULACION
-->
{% block titulo_block %}

<a class="btn btn-info btn-xs" href="#">Punto de Control</a>
{% endblock %}


{% block content %}


<div class="row page-titles mx-0">
    <div class="col-sm-12 p-md-0">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-5">
                <div class="form-input-content text-center">
                    
                    <hr>
                    <h2>¡Simulación Terminada!</h2>                    
                    
                    <img class="logo-abbr" src="{% static 'simapp/images/samisin2.png' %}" width="128" height="128" alt="">
                    <hr>
                    <p>Cuando la simulación haya concluido, observe los resultados mediante el botón <strong>Resultados</strong>.</p>
                    
                    <div class="mb-5">
                        <a class="btn btn-secondary btn-xs" href="{% url 'simapp:sim_form_compacto' %}">Crear Escenario</a>
                        <a class="btn btn-secondary btn-xs" href="{% url 'simapp:sim_form_escenarios' %}">Seleccionar Escenarios</a>
                        <br>
                        <br>
                        <a class="btn btn-warning" href="{% url 'simapp:pre_sim' %}">Resultados</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
    
            
   

{% endblock %}






