{% extends 'base_sami.html' %}
{% load static %}
<!--
PAGINA PRINCIPAL
-->
{% block titulo_block %}
PRESENTACIÓN SAMI
{% endblock %}


<!-- https://demo.themefisher.com/focus/ -->
{% block content %}
<!--**********************************
        Content body start
        ***********************************-->
<div class="text-center">
    <img src="{% static 'simapp/images/profile/sami-blanco.png' %}" />
    <br>
    <hr>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">3G/4G/5G</div>
                    <h5>Implementa modelos de pérdidas de propagación de difentes generaciones de redes
                        inalámbricas.</h5>


                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Flexible</div>
                    <h5>Desarrollado en Python y Django para lograr una implentación dinámica y multiplataforma.
                    </h5>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Modular</div>
                    <h5>Diseñado bajo el paradigma POO y una estructura de modular de paquetes y librerías.</h5>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Estadísticas</div>
                    <h5>Genera datos estadísticos de cada simulación para su análisis.</h5>

                </div>

            </div>
        </div>
        <!-- /# card -->
    </div>
    <!-- /# column -->
</div>

<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Flujo de Simulación</h4>
            </div>
            <div class="card-body">
                <div class="widget-timeline">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge primary"></div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 1</span>
                                <h6 class="m-t-5">Ingresar parámetros de simulación.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge warning">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 2</span>
                                <h6 class="m-t-5">Realizar validaciones iniciales.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge danger">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 3</span>
                                <h6 class="m-t-5">Realizar pre-simulación con una muestra de distancia fija.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge success">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 4</span>
                                <h6 class="m-t-5">Realizar simulación con valores aleatorios. </h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge warning">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 5</span>
                                <h6 class="m-t-5">Calcular Potencia Recibida, SINR, Throughput.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge dark">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 6</span>
                                <h6 class="m-t-5">Iterar N veces desde el Paso 4.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge info">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 7</span>
                                <h6 class="m-t-5">Obtener estadísticas.</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-block">
                <h4 class="card-title">Características Técnicas</h4>
                <p class="m-0 subtitle">A continuación, una serie de caracteristicas técnicas de <code>SAMI v1.</code>
                </p>
            </div>
            <div class="card-body">
                <div id="accordion-twelve" class="accordion accordion-rounded-stylish accordion-gradient">
                    <div class="accordion__item">
                        <div class="accordion__header accordion__header--primary" data-toggle="collapse"
                            data-target="#gradient_collapseOne"> <span class="accordion__header--icon"></span>
                            <span class="accordion__header--text">Criterio de Mayor Potencia.</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="gradient_collapseOne" class="collapse accordion__body show"
                            data-parent="#accordion-twelve">
                            <div class="accordion__body--text">
                                Los usuarios reciben señal de diferentes celdas. El criterio de mayor potencia recibida
                                se aplica
                                para seleccionar una sola celda. Cuando el usuario recibe la misma
                                potencia de dos celdas diferentes, SAMI selecciona aleatoriamente una
                                celda de conexión.
                            </div>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <div class="accordion__header collapsed accordion__header--info" data-toggle="collapse"
                            data-target="#gradient_collapseTwo"> <span class="accordion__header--icon"></span>
                            <span class="accordion__header--text">Producción de Imágenes</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="gradient_collapseTwo" class="collapse accordion__body" data-parent="#accordion-twelve">
                            <div class="accordion__body--text">
                                En SAMI es posible producir una imagen de la intensidad de potencia recibida en un área
                                determinada y con una resolución dinámica. Sin embargo, esta característica
                                está reservada para una única simulación por la alta carga de procesamiento que se
                                requiere para generarla.
                            </div>
                        </div>
                    </div>


                    <div class="accordion__item">
                        <div class="accordion__header collapsed accordion__header--success" data-toggle="collapse"
                            data-target="#gradient_collapseThree"> <span class="accordion__header--icon"></span>
                            <span class="accordion__header--text">Antenas Trisectorizadas</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="gradient_collapseThree" class="collapse accordion__body"
                            data-parent="#accordion-twelve">
                            <div class="accordion__body--text">
                                El algorítmo de trisectorización es dinámico y puede configurarse para generar más
                                lóbulos ideales y de igual forma para generar diferentes patrones de radiación
                                si se dispone de las ecuaciones matemáticas que los modelan.
                            </div>
                        </div>
                    </div>


                    <div class="accordion__item">
                        <div class="accordion__header collapsed accordion__header--success" data-toggle="collapse"
                            data-target="#gradient_collapseFour"> <span class="accordion__header--icon"></span>
                            <span class="accordion__header--text">Montecarlo y Proceso Puntual Poisson.</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="gradient_collapseFour" class="collapse accordion__body"
                            data-parent="#accordion-twelve">
                            <div class="accordion__body--text">
                                La posición de los usuarios se distribuyen en un área determinada de manera aleatoria y
                                uniforme. Cada iteración
                                corresponde a una versión aleatoria de un mismo escenario de simulación, de esta forma
                                las iteraciones convergen a la estadística de análisis; este método iterativo se conoce
                                como Montecarlo.
                                En conjunto con este método, la cantidad de usuarios generados en cada simulación
                                corresponde al Proceso Puntual Poisson, el cual sigue la distribución de Poisson, sin
                                embargo, la intensidad (lambda)
                                debe entenderse en este caso como una medida de densidad poblacional, que depende del
                                área disponible para generar los usuarios y cuya relación es
                                directamente proporcial: a mayor área disponible, mayor la cantidad de usuarios.
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Potencia Recibida (sin desvanecimiento)</h4>
            </div>
            <div class="card-body">
                <img width="450" height="350" src="{% static 'simulador/base_datos/imagenes/index/sin_desv_png.png' %}" />
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Potencia Recibida (desvanecimiento mixto)</h4>
            </div>
            <div class="card-body">
                
                <img width="450" height="350" src="{% static 'simulador/base_datos/imagenes/index/con_desv_png.png' %}" />
                
                
            </div>
        </div>
    </div>

    
</div>


<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Implementación Dinámica (mínimo 1 celda)</h4>
            </div>
            <div class="card-body">
                <img width="430" height="350" src="{% static 'simulador/base_datos/imagenes/index/dinamico1.png' %}" />
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Implementación Dinámica (máximo 19 celdas)</h4>
            </div>
            <div class="card-body">
                <img width="430" height="350" src="{% static 'simulador/base_datos/imagenes/index/dinamico2.png' %}" />
            </div>
        </div>
    </div>

    
</div>



<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Niveles de Densificación (Población Baja)</h4>
            </div>
            <div class="card-body">
                <img width="430" height="350" src="{% static 'simulador/base_datos/imagenes/index/densidad_baja.png' %}" />
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Niveles de Densificación (Población Moderada)</h4>
            </div>
            <div class="card-body">
                <img width="430" height="350" src="{% static 'simulador/base_datos/imagenes/index/densidad_alta.png' %}" />
            </div>
        </div>
    </div>

    
</div>



<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}