{% extends 'base_sami.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Bienvenido a la interfaz de simulación!</h4>
            <p class="mb-0">Por favor configura los siguientes parámetros:</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Formulario de Parámetros</h4>
            </div>
            <div class="card-body">
                <hr>
                <div>

                    <form action="" method="post">
                        {% csrf_token %}



                        <section>
                            <div class="row">




                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Potencia de Transmisión [dBm]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="28" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Ganancia de Transmisión [dB]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="15" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Pérdidas de Transmisión [dB]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="1" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Pérdidas de Recepción [dB]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="1" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Sensibilidad en Recepción</label>
                                        <div class="form-group">
                                            <input class="form-control" value="-110" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">MCL</label>
                                        <div class="form-group">
                                            <input class="form-control" value="70" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-4 col-sm-3 mb-4">
                                    <label class="text-label">Modelo de Antena</label>
                                    <div class="input-group">
                                        <select class="form-control" id="debug-general" name="debug-general">
                                            <option value="Okumura Hata">TS 38942 Trisectorizada</option>
                                            <option value="Debug Activado">Futuro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3 mb-4">
                                    <label class="text-label">Ancho de Haz</label>
                                    <div class="form-group">
                                        <input class="form-control" value="65" type="number" name="input2" id="input2"
                                            placeholder="Parámetro 2">
                                    </div>
                                </div>

                                <div class="col-4 col-sm-3 mb-4">
                                    <label class="text-label">Atenuación Mínima</label>
                                    <div class="form-group">
                                        <input class="form-control" value="20" type="number" name="input1" id="input1"
                                            placeholder="Parámetro 3">
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3 mb-4">
                                    <label class="text-label">Futuro</label>
                                    <div class="form-group">
                                        <input class="form-control" value="0.00" type="number" name="input2" id="input2"
                                            placeholder="Parámetro 4">
                                    </div>
                                </div>







                            </div>
                        </section>





                        <input type="submit" class="btn btn-primary" value="siguiente" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}