{% extends 'base_sami.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block titulo_block %}
SIMULADOR A NIVEL DE SISTEMA
{% endblock %}

{% block content %}

<div class="row page-titles mx-0">
    <p class="mb-0">Si desea mantener los anteriores valores, por favor use el botón <strong>atrás</strong> del navegador.</p>
</div>


<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Parámetros de Asignación</h4>
            </div>
            <div class="card-body">

                <div class="progress">
                    <div class="progress-bar progress-bar-primary w-100" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

                <hr>
                <div>

                    <form action="" method="post">
                        {% csrf_token %}



                        <section>
                            <div class="row">




                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Tipo de Asignación</label>
                                        <div class="input-group">
                                            <select class="form-control" id="debug-general" name="debug-general">
                                                <option value="Okumura Hata">Round Robin</option>
                                                <option value="Debug Activado">Futuro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Ancho de Banda Usuario [Mhz]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="100" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Numerología [u]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="1" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Banda de Guarda [Khz]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="845" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Suportadora [u]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="12" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Trama Total [u]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="12" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Símbolos OFDM [u]</label>
                                        <div class="form-group">
                                            <input class="form-control" value="10" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Frame</label>
                                        <div class="form-group">
                                            <input class="form-control" value="10" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-5 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Futuro</label>
                                        <div class="form-group">
                                            <input class="form-control" value="0" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-4">
                                    <div class="form-group">
                                        <label class="text-label">Futuro</label>
                                        <div class="form-group">
                                            <input class="form-control" value="0" type="number" name="input2"
                                                id="input2" placeholder="">
                                        </div>
                                    </div>
                                </div>







                            </div>
                        </section>





                        <input type="submit" class="btn btn-primary" value="terminar" />
                        <a class="btn btn-warning" href="{% url 'simapp:sim_form_a1' %}">reiniciar</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}