{% extends 'base_sami.html' %}
{% load static %}

{% block titulo_block %}
RESULTADOS DE SIMULACIÓN
{% endblock %}


{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Gráficas de Simulación!</h4>
            <p class="mb-0">Los siguientes resultados de simulación, se realizan sobre una muestra aleatoria de usuarios distribuidos mediante el método de distribución correspondiente [agregar informacion de distribucion]</p>
            <hr>
            <a class="btn btn-info" href="{% url 'simapp:futuro' %}">Siguiente</a>
             
        </div>
    </div>
</div>


<!--
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Gráficas de Capacidad!</h4>
            <p class="mb-0">A continuación las gráficas. Si el simulador no ha concluido su ejecución, por favor recargar la página.</p>
        </div>
    </div>
</div>
-->

<div class="row justify-content-center h-100 align-items-center">
    <div class="col-md-5">
        <div class="form-input-content text-center">
            <div class="mb-5">
                <a class="btn btn-primary" href="{% url 'simapp:sim_form_compacto' %}">Cambiar parámetros</a>
            </div>
            <h1 class="error-text font-weight-bold">Realizaciones Insuficientes</h1>
            <h4 class="mt-4"><i class="fa fa-exclamation-triangle text-warning"></i> ¡No hay sufientes simulaciones!</h4>
            <p>Realiza 10 simulaciones o más para obtener gráficas.</p>
        </div>
    </div>
</div>


<hr>



{% endblock %}


