{% extends 'base_sami.html' %}
{% load static %}
<!--
RESULTADOS DE SIMULACION, PRESIMULACION.
-->
{% block titulo_block %}
<a class="btn btn-info btn-xs" href="#">RESULTADOS DE SIMULACIÓN DE MONTECARLO</a>
{% endblock %}


{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Gráficas de Simulación de Montecarlo!</h4>
            <p class="mb-0">Los siguientes resultados de simulación, se realizan sobre una muestra aleatoria de usuarios distribuidos mediante el método de distribución correspondiente. Las estadísticas obtenidas se obtienen mediante el método de Montecarlo.</p>
            <hr>
            <a class="btn btn-info" href="{% url 'simapp:sim_form_comparar_escenarios' %}">Siguiente</a>
             
        </div>
    </div>
</div>


<!--
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Gráficas de Capacidad!</h4>
            <p class="mb-0">A continuación las gráficas. Si el simulador no ha concluido su ejecución, por favor recargar la página.</p>
        </div>
    </div>
</div>
-->

<div class="row">
    {% for key, value in img_disp.items %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ key }}</h4>
            </div>
            <div class="card-body">
                 
                <img src="{% static value %}" />
            </div>
        </div>
    </div>
    {% endfor %}

    
</div>


<hr>



{% endblock %}


