appdirs==1.4.3
asgiref==3.3.1
bokeh==2.1.1
CacheControl==0.12.6
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
colorama==0.4.3
contextlib2==0.6.0
cycler==0.10.0
dask==2.23.0
distlib==0.3.0
distributed==2.23.0
distro==1.4.0
Django==3.1.4
django-crispy-forms==1.10.0
django-formtools==2.2
docutils==0.16
fsspec==0.8.0
HeapDict==1.0.1
html5lib==1.0.1
idna==2.9
ipaddr==2.2.0
Jinja2==2.11.2
kiwisolver==1.2.0
locket==0.2.0
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mpmath==1.1.0
msgpack==0.6.2
nose==1.3.7
numpy==1.18.2
packaging==20.3
pandas==1.0.3
partd==1.1.0
pep517==0.8.2
Pillow==7.2.0
progress==1.5
psutil==5.7.2
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
retrying==1.3.3
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
sortedcontainers==2.2.2
sqlparse==0.4.1
sympy==1.5.1
tblib==1.7.0
tk==0.1.0
toolz==0.10.0
tornado==6.0.4
typing-extensions==3.7.4.2
urllib3==1.25.8
webencodings==0.5.1
zict==2.0.0
