{% extends 'base_sami.html' %}
{% load static %}
<!--
CUANDO NO SE CUMPLE LAS ITERACIONES MINIMAS, SE DEBE MOSTRAR UNA PAGINA QUE INDICA QUE NO SE PUEDE EJECUTAR MONTECARLO
-->
{% block titulo_block %}
<a class="btn btn-info btn-xs" href="#">RESULTADOS DE COMPARACIÓN</a>
{% endblock %}


{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Gráficas de Simulación!</h4>
            <p class="mb-0">Las siguientes gráficas se han obtenido realizando simulaciones previamente. Para realizar una nueva simulación use el botón <strong>Nuevo Escenario</strong> o si la configuración ya existe, <strong> Seleccionar Escenario</strong>. </p>
            <hr>

            <!-- <a class="btn btn-info" href="{% url 'simapp:futuro' %}">Siguiente</a> -->
             
        </div>
    </div>
</div>



<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h5>¡Gráficas de Presimulación!</h5>
        </div>
    </div>
</div>


<div class="row">
    {% for key in img_presim %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> </h4>
            </div>
            <div class="card-body">
                 
                <img  src="{% static key %}" />
            </div>
        </div>
    </div>
    {% endfor %}

    
</div>

<hr>

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h5>¡Gráficas de Montecarlo!</h5>
        </div>
    </div>
</div>

<div class="row">
    {% for key in img_mont %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> </h4>
            </div>
            <div class="card-body">
                 
                <img src="{% static key %}" />
            </div>
        </div>
    </div>
    {% endfor %}

    
</div>

<hr>



{% endblock %}


