<!-- https://demo.themefisher.com/focus/ -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SAMI</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'simapp/images/favicon-s.png' %}">
    <link rel="stylesheet" href="{% static 'simapp/vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'simapp/vendor/owl-carousel/css/owl.theme.default.min.css' %}">
    <link href="{% static 'simapp/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'simapp/css/style.css' %}" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="{% static 'simapp/images/logo-signal.png' %}" alt="">
                <img class="logo-compact" src="{% static 'simapp/images/logo-text-2.png' %}" alt="">
                <img class="brand-title" src="{% static 'simapp/images/logo-text-2.png' %}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Menú Principal</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Características</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'simapp:caracteristicas' %}">Sami V1</a></li>
                            <li><a href="#">Versión Futura</a></li>
                        </ul>
                    </li>


                    <!--
                    <li class="nav-label">Apps</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Apps</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./app-profile.html">Profile</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                                <ul aria-expanded="false">
                                    <li><a href="./email-compose.html">Compose</a></li>
                                    <li><a href="./email-inbox.html">Inbox</a></li>
                                    <li><a href="./email-read.html">Read</a></li>
                                </ul>
                            </li>
                            <li><a href="./app-calender.html">Calendar</a></li>
                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Charts</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                            <li><a href="./chart-chartjs.html">Chartjs</a></li>
                            <li><a href="./chart-chartist.html">Chartist</a></li>
                            <li><a href="./chart-sparkline.html">Sparkline</a></li>
                            <li><a href="./chart-peity.html">Peity</a></li>
                        </ul>
                    </li>

                    
                    <li class="nav-label">Components</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./ui-accordion.html">Accordion</a></li>
                            <li><a href="./ui-alert.html">Alert</a></li>
                            <li><a href="./ui-badge.html">Badge</a></li>
                            <li><a href="./ui-button.html">Button</a></li>
                            <li><a href="./ui-modal.html">Modal</a></li>
                            <li><a href="./ui-button-group.html">Button Group</a></li>
                            <li><a href="./ui-list-group.html">List Group</a></li>
                            <li><a href="./ui-media-object.html">Media Object</a></li>
                            <li><a href="./ui-card.html">Cards</a></li>
                            <li><a href="./ui-carousel.html">Carousel</a></li>
                            <li><a href="./ui-dropdown.html">Dropdown</a></li>
                            <li><a href="./ui-popover.html">Popover</a></li>
                            <li><a href="./ui-progressbar.html">Progressbar</a></li>
                            <li><a href="./ui-tab.html">Tab</a></li>
                            <li><a href="./ui-typography.html">Typography</a></li>
                            <li><a href="./ui-pagination.html">Pagination</a></li>
                            <li><a href="./ui-grid.html">Grid</a></li>

                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-plug"></i><span class="nav-text">Plugins</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./uc-select2.html">Select 2</a></li>
                            <li><a href="./uc-nestable.html">Nestedable</a></li>
                            <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="./uc-toastr.html">Toastr</a></li>
                            <li><a href="./map-jqvmap.html">Jqv Map</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="widget-basic.html" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Widget</span></a></li>

                    -->
                    <li class="nav-label">Configuración de Datos</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Simuladores</span></a>
                        <ul aria-expanded="false">
                            <!---->
                            <!---->
                            <!---->
                            
                            <!--
                            <li><a href="./form-element.html">Form Elements</a></li>
                            -->
                            <li><a href="{% url 'simapp:sami_v1' %}">SAMI v1</a></li>
                            <li><a href="#">Futuro</a></li>
                            <!--
                            <li><a href="./form-editor-summernote.html">Summernote</a></li>
                            <li><a href="form-pickers.html">Pickers</a></li>
                            <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
                            -->
                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-layout-25"></i><span class="nav-text">Table</span></a>
                        <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>

                    <!--
                    <li class="nav-label">Extra</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                    -->
                </ul> 
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="text-center">
                    <img src="{% static 'simapp/images/profile/sami-blanco.png' %}" />
                    <br>
                    <hr>
                </div>

                
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">3G/4G/5G</div>
                                    <h5>Implementa modelos de pérdidas de propagación de difentes generaciones de redes inalámbricas.</h5>
                                    
                                     
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Flexible</div>
                                    <h5>Desarrollado en Python y Django para lograr una implentación dinámica y multiplataforma.</h5>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Modular</div>
                                    <h5>Aprovecha el paradigma POO y una estructura de modular de paquetes y librerías.</h5>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Estadísticas</div>
                                    <h5>Genera datos estadísticos de cada simulación para su análisis.</h5>
                                     
                                </div>
                                 
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>


                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Flujo de Simulación</h4>
                            </div>
                            <div class="card-body">
                                <div class="widget-timeline">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Paso 1</span>
                                                <h6 class="m-t-5">Ingresar parámetros de iniciales.</h6>
                                            </a>
                                        </li>
                
                                        <li>
                                            <div class="timeline-badge warning">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Paso 2</span>
                                                <h6 class="m-t-5">Dimensionar escenario.</h6>
                                            </a>
                                        </li>
                
                                        <li>
                                            <div class="timeline-badge danger">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Paso 3</span>
                                                <h6 class="m-t-5">Iniciar simulación de acuerdo a los límites.</h6>
                                            </a>
                                        </li>
                
                                        <li>
                                            <div class="timeline-badge success">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Paso 4</span>
                                                <h6 class="m-t-5">Calcular distancias, ganancias, pérdidas de propagación. </h6>
                                            </a>
                                        </li>
                
                                        <li>
                                            <div class="timeline-badge warning">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Paso 5</span>
                                                <h6 class="m-t-5">Calcular potencia recibida, SINR, Throughput.</h6>
                                            </a>
                                        </li>
                
                                        <li>
                                            <div class="timeline-badge dark">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Paso 6</span>
                                                <h6 class="m-t-5">Aplicar método Montecarlo: Iterar.</h6>
                                            </a>
                                        </li>
                
                                        <li>
                                            <div class="timeline-badge info">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Paso 7</span>
                                                <h6 class="m-t-5">Obtener estadísticas.</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Características Técnicas</h4>
                                <p class="m-0 subtitle">A continuación, una serie de caracteristicas técnicas de <code>SAMI v1.</code></p>
                            </div>
                            <div class="card-body">
                                <div id="accordion-twelve" class="accordion accordion-rounded-stylish accordion-gradient">
                                    <div class="accordion__item">
                                        <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#gradient_collapseOne"> <span class="accordion__header--icon"></span>
                                            <span class="accordion__header--text">Criterio de Mayor Potencia.</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="gradient_collapseOne" class="collapse accordion__body show" data-parent="#accordion-twelve">
                                            <div class="accordion__body--text">
                                                Los usuarios reciben señal de diferentes celdas. El criterio de mayor potencia recibida se aplica 
                                                para seleccionar una sola celda. Cuando el usuario recibe la misma 
                                                potencia de dos celdas diferentes, SAMI selecciona aleatoriamente una 
                                                celda de conexión.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion__item">
                                        <div class="accordion__header collapsed accordion__header--info" data-toggle="collapse" data-target="#gradient_collapseTwo"> <span class="accordion__header--icon"></span>
                                            <span class="accordion__header--text">Producción de Imágenes</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="gradient_collapseTwo" class="collapse accordion__body" data-parent="#accordion-twelve">
                                            <div class="accordion__body--text">
                                                En SAMI es posible producir una imagen de la intensidad de potencia recibida en un área determinada y con una resolución dinámica. Sin embargo, esta característica 
                                                está reservada para una única simulación por la alta carga de procesamiento que se requiere para generarla. 
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordion__item">
                                        <div class="accordion__header collapsed accordion__header--success" data-toggle="collapse" data-target="#gradient_collapseThree"> <span class="accordion__header--icon"></span>
                                            <span class="accordion__header--text">Antenas Trisectorizadas</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="gradient_collapseThree" class="collapse accordion__body" data-parent="#accordion-twelve">
                                            <div class="accordion__body--text">
                                                El algorítmo de trisectorización es dinámico y puede configurarse para generar más lóbulos ideales y de igual forma para generar diferentes patrones de radiación 
                                                si se dispone de las ecuaciones matemáticas que los modelan.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordion__item">
                                        <div class="accordion__header collapsed accordion__header--success" data-toggle="collapse" data-target="#gradient_collapseFour"> <span class="accordion__header--icon"></span>
                                            <span class="accordion__header--text">Montecarlo y Proceso Puntual Poisson.</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="gradient_collapseFour" class="collapse accordion__body" data-parent="#accordion-twelve">
                                            <div class="accordion__body--text">
                                                La posición de los usuarios se distribuyen en un área determinada de manera aleatoria y uniforme. Cada iteración
                                                corresponde a una versión aleatoria de un mismo escenario de simulación, de esta forma las iteraciones convergen a la estadística de análisis; este método iterativo se conoce como Montecarlo. 
                                                En conjunto con este método, la cantidad de usuarios generados en cada simulación corresponde al Proceso Puntual Poisson, el cual sigue la distribución de Poisson, sin embargo, la intensidad (lambda)
                                                debe entenderse en este caso como una medida de densidad poblacional, que depende del área disponible para generar los usuarios y cuya relación es
                                                directamente proporcial: a mayor área disponible, mayor la cantidad de usuarios.
                                            </div>
                                        </div>
                                    </div>


                                    



                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    
                 

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Template original: <a href="https://demo.themefisher.com/focus/" target="_blank">themefisher</a> 2019</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'simapp/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'simapp/js/quixnav-init.js' %}"></script>
    <script src="{% static 'simapp/js/custom.min.js' %}"></script>


    <!-- Vectormap -->
    <script src="{% static 'simapp/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'simapp/vendor/morris/morris.min.js' %}"></script>


    <script src="{% static 'simapp/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'simapp/vendor/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'simapp/vendor/gaugeJS/dist/gauge.min.js' %}"></script>

    <!--  flot-chart js -->
    <script src="{% static 'simapp/vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'simapp/vendor/flot/jquery.flot.resize.js' %}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'simapp/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!-- Counter Up -->
    <script src="{% static 'simapp/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'simapp/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'simapp/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>


    <script src="{% static 'simapp/js/dashboard/dashboard-1.js' %}"></script>

</body>

</html>