{% extends 'base_sami.html' %}

{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Gráficas de Cobertura!</h4>
            <p class="mb-0">A continuación los resultados. Si el simulador no ha concluido su ejecución, por favor recargar la página.</p>
        </div>
    </div>
</div>



<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>¡Gráficas de Capacidad!</h4>
            <p class="mb-0">A continuación las gráficas. Si el simulador no ha concluido su ejecución, por favor recargar la página.</p>
        </div>
    </div>
</div>

{% endblock %}


