{% extends 'base_sami.html' %}

{% block content %}



    
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center">
                        <div class="mb-5">
                            <a class="btn btn-primary" href="{% url 'simapp:caracteristicas' %}">Regresar</a>
                        </div>
                        <h1 class="error-text font-weight-bold">404</h1>
                        <h4 class="mt-4"><i class="fa fa-exclamation-triangle text-warning"></i> ¡La página que buscas no está disponible!</h4>
                        <p>La página se encuentra en desarrollo, disculpa las molestias.</p>
                    </div>
                </div>
            </div>
   

{% endblock %}
