<div class="row">
    <div class="col-lg-6 col-xl-4 col-xxl-6 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Flujo de Simulación</h4>
            </div>
            <div class="card-body">
                <div class="widget-timeline">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge primary"></div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 1</span>
                                <h6 class="m-t-5">Ingresar parámetros de iniciales.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge warning">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 2</span>
                                <h6 class="m-t-5">Dimensionar escenario.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge danger">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 3</span>
                                <h6 class="m-t-5">Iniciar simulación de acuerdo a los límites.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge success">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 4</span>
                                <h6 class="m-t-5">Calcular distancias, ganancias, pérdidas de propagación. </h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge warning">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 5</span>
                                <h6 class="m-t-5">Calcular potencia recibida, SINR, Throughput.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge dark">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 6</span>
                                <h6 class="m-t-5">Aplicar método Montecarlo: Iterar.</h6>
                            </a>
                        </li>

                        <li>
                            <div class="timeline-badge info">
                            </div>
                            <a class="timeline-panel text-muted" href="#">
                                <span>Paso 7</span>
                                <h6 class="m-t-5">Obtener estadísticas.</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
   
     
</div>



<div class="col-lg-7">
    <div class="card">
        <div class="card-header d-block">
            <h4 class="card-title">Accordion gradient</h4>
            <p class="m-0 subtitle">Add <code>accordion-gradient</code> class with <code>accordion</code></p>
        </div>
        <div class="card-body">
            <div id="accordion-twelve" class="accordion accordion-rounded-stylish accordion-gradient">
                <div class="accordion__item">
                    <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#gradient_collapseOne"> <span class="accordion__header--icon"></span>
                        <span class="accordion__header--text">Accordion Header One</span>
                        <span class="accordion__header--indicator"></span>
                    </div>
                    <div id="gradient_collapseOne" class="collapse accordion__body show" data-parent="#accordion-twelve">
                        <div class="accordion__body--text">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        </div>
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__header collapsed accordion__header--info" data-toggle="collapse" data-target="#gradient_collapseTwo"> <span class="accordion__header--icon"></span>
                        <span class="accordion__header--text">Accordion Header Two</span>
                        <span class="accordion__header--indicator"></span>
                    </div>
                    <div id="gradient_collapseTwo" class="collapse accordion__body" data-parent="#accordion-twelve">
                        <div class="accordion__body--text">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        </div>
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__header collapsed accordion__header--success" data-toggle="collapse" data-target="#gradient_collapseThree"> <span class="accordion__header--icon"></span>
                        <span class="accordion__header--text">Accordion Header Three</span>
                        <span class="accordion__header--indicator"></span>
                    </div>
                    <div id="gradient_collapseThree" class="collapse accordion__body" data-parent="#accordion-twelve">
                        <div class="accordion__body--text">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>